<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>
    <link href="../node_modules/tabulator-tables/dist/css/tabulator_semanticui.min.css" rel="stylesheet">
    <script type="text/javascript" src="../node_modules/tabulator-tables/dist/js/tabulator.min.js"></script>
    <link rel="stylesheet" href="../css/index.css" media="screen" charset="utf-8">
    <script src="../js/index.js"></script>
  </head>

  <body>
    <div class="setting">
      <div class="add-symbol">
        <div class="mini ui input">
          <input type="text" id="symbolInput" size=20 placeholder="Symbol eg: BTCUSDT"></input>
        </div>
        <button class="tiny ui button" type="submit" id="addBtn" onclick="addSymbol()">Add</button>
        <i class="grey question circle icon" title="Right click symbol to remove it"></i>
      </div>
      <div class="change-setting">
        <a href="setting.html">
          <button type="button" class="tiny ui icon button">
            <i class="cog icon"></i>
          </button>
        </a>
      </div>
    </div>
    <div class="ui shake transition mini compact center aligned message hidden" id="message">
      <div class="header" id="messageText"></div>
    </div>
    <div id="symbols-table"></div>
    <footer>
      <div class="footer-link">
        Made by <a href="https://github.com/VidocqH" target="_blank">VidocqH</a>
        <br />
        Data from <a href="https://binance-docs.github.io/apidocs/spot/en" target="_blank">Binance</a>
      </div>
    </footer>
  </body>

</html>
