<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../css/setting.css" media="screen" charset="utf-8">
    <script src="../js/setting.js"></script>
  </head>

  <body>
    <div id="page-title">
      <div class="ui grid">
        <h2 class="ui header nine wide column title-column">Setting</h2>
        <div class="seven wide column title-column">
          <a href="index.html">
            <button class="tiny ui green button" onclick="submitConfig()">Save</button>
          </a>
          <a href="index.html">
            <button class="tiny ui red button">Cancel</button>
          </a>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <form class="ui form" style="margin-left: 3px;">
      <div class="inline field" style="margin-bottom: 3px;">
        <label>Color Set: </label>
        <div class="ui radio checkbox">
          <input type="radio" name="color" id="redUp">
          <label for="redUp">
            <i class="red arrow up icon"></i>
            <i class="green arrow down icon"></i>
          </label>
        </div>
        <div class="ui radio checkbox">
          <input type="radio" name="color" id="greenUp">
          <label for="greenUp">
            <i class="green arrow up icon"></i>
            <i class="red arrow down icon"></i>
          </label>
        </div>
      </div>
      <div class="ui horizontal divider">
        Tray
      </div>
      <div class="inline field">
        <label>Display field: </label>
        <div class="ui checkbox">
          <input type="checkbox" id="tray-symbol-display" name="display-field" checked>
          <label class="checkbox-label">Symbol</label>
        </div>
        <div class="ui checkbox">
          <input type="checkbox" id="tray-price-display" name="display-field" checked>
          <label class="checkbox-label">Price</label>
        </div>
        <div class="ui checkbox">
          <input type="checkbox" id="tray-change-display" name="display-field">
          <label class="checkbox-label">Change</label>
        </div>
        <div class="ui checkbox">
          <input type="checkbox" id="tray-percent-display" name="display-field" checked>
          <label class="checkbox-label">Change %</label>
        </div>
      </div>
      <div class="ui horizontal divider">
        Ticker Table
      </div>
      <div class="inline field">
        <label>Symbol table update interval: 
          <i class="grey exclamation circle icon" style="margin: 0;" title="Please pay attention to ratelimit!"></i>
        </label>
        <div class="ui mini right labeled input" style="width: 32%">
          <input type="text" placeholder="5" id="tableUpdateInterval">
          <div class="ui mini basic label">Seconds</div>
        </div>
      </div>
    </form>
  </body>
</html>
